<!DOCTYPE html>
<html>
	{% url 'journing:index' as index_url %}
	<head>
		<title>Journing</title>
		{% load static %}
		<link
		rel="icon"
		type="image/x-icon"
		href="{%static 'journing/logos/logo_favicon.png'%}"
		/>
		<link rel="stylesheet" href="{% static 'journing/styles/base.css' %}" />
		{%block headcontent%} {%endblock headcontent%}
	</head>

	<body>
		<nav class="topnav">
			<div class="left-section nav-bar">
				<div class="logo-container">	
					<a href="{% url 'journing:index' %}"> <img class="logo" src="{%static 'journing/logos/logo.png' %}" /> </a>
				</div>
			</div>

			<div class="middle-section nav-bar">
				<input id="search-bar-js" type="text" placeholder="Where to?" />
				<button id="search-button-js" onclick="search('search-bar-js','{{index_url}}')">
					<img
						class="search-button-img"
						src="{% static 'journing/icons/mg.png' %}"
					/>
				</button>
			</div>
			<div class="right-section nav-bar">	
				<a href='#'><img class="list-button-img" src="{% static 'journing/icons/journal.png' %}"/></a>
				<a href='#'><img class="noti-button-img" src="{% static 'journing/icons/bell.png' %}" /></a>
				
				{% if user.is_authenticated%}

				<a href="{% url 'userdata:profile' request.user.username %}">
				<img class="profile-logged-img" src="{{user.profile.profile_pic.url}}"/>
				</a>

				{% else %}
				<a href="{% url 'userdata:login'%}">
				<img class="profile-unlogged-img" src="{% static 'journing/icons/profile.png'%}"/>
				</a>
				{% endif %}

				</div>
		</nav>
		{% block content%} {% endblock content%}
		<script>
			const index_url = "{{index_url}}"
		</script>
		<script src="{% static 'journing/scripts/search.js'%}"></script>
		{% block jscontent%}
		{%endblock jscontent%}
	</body>
</html>
