{% extends 'journing/base.html' %} 
{%load static%}

{% block headcontent%}
<link rel="stylesheet" href="{% static 'journing/styles/index.css'%}">
{% endblock headcontent%}

{% block content%}

<!-- explore page html -->
<nav>
    <div class="background-video">
        <video autoplay loop muted plays-inline class="promo-video">
            <source src="{% static 'journing/videos/promo.mp4'  %}" type="video/mp4">
        </video>
    </div>

{% if is_paginated %}
{% if not page_obj.has_previous%}

    <div class="explore-div">
        <h1 >
            Singapore
        </h1>
            
        <a href="#index-main-js">Explore</a>
    </div>

{% endif %}
{% endif %}
</nav>

<!-- main page html -->

{% if is_paginated %}
{% if not page_obj.has_previous%}
<main class='index-main-first-page' id='index-main-js'>        
{% else %}
<main class='index-main-not-first-page' id='index-main-js'>        
{% endif %}
{% endif %}

        {% for city in cities%}
        <div class='thumbnail-grid'>
            <div>
                <a href="{% url 'journing:sights_list' city.slug %}">
                <img class='thumbnail' src="{% static '/cityimgs/'%}{{city.img_local}}">
                </a>
            
            </div> 
            
            <div class='thumbnail-title'>   {{city.city}}    </div>
             
        </div>
        {% endfor %}
</main>

{% comment %} page_num {% endcomment %}
{% if is_paginated %}

<div class='page_nav'>
    {% if page_obj.has_previous%}

    <a class='button-page-1 page' href="?page=1">First</a>
    <a class='button-page-p page' href="?page={{page_obj.previous_page_number}}">Previous</a>

    {% endif %}

    {% for num in page_obj.paginator.page_range %}

    {% if page_obj.number == num %}
        {{num}}
    {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4'%} 
        <a class='pages page' href="?page={{num}}">{{num}}</a>
    {% endif %}
    {% endfor%}

    {% if page_obj.has_next%}

    <a class='button-page-n page' href="?page={{page_obj.next_page_number}}">Next</a>
    <a class='button-page-l page' href="?page={{page_obj.paginator.num_pages}}">Last</a>

    {% endif %}

</div>
{% endif %}












<!--js code--> 
<script>

let x = 10;
window.addEventListener('scroll',()=>{
    const scrollable = document.documentElement.scrollHeight - window.innerHeight
    const scrolled = window.scrollY;

    if (Math.ceil(scrolled) === scrollable){
        hey() 
    }
})
</script>


<script src="{% static 'journing/scripts/index.js'%}"></script>
{% endblock content %}