{% extends 'journing/base.html'%}
{% load static%}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'journing/styles/journal.css'%}">
{% endblock headcontent%}


{% block content%}

{% if not user.journal_set.all %}

<div class='no-journal'>

    <div class='book-icon-div'><img src="{% static 'journing/icons/book.png'%}"></div>
    <h1> No journal found... Create one now!</h1>
    <input class='create-journal-js' type='button' value='Create new Journal'>
</div>

<div class='new-journal'>
    <form method='post'>
        {% csrf_token %}
        <h2>{{form.as_p}}</h2>
        <div class='submit-div'><button class='real-create-journal-js' type='submit'> Create now !</button></div>
    </form>
</div>

{% endif %}

{% endblock content%}


{% block jscontent%}

<script src="{% static 'journing/scripts/journal.js'%}">
</script>
{% endblock jscontent%}
