{% extends 'journing/base.html'%}
{% load static%}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'journing/styles/journal.css'%}">
{% endblock headcontent%}


{% block content%}

{% if not user.journal_set.all %}

<div class='no-journal'>

    <div class='book-icon-div'><img src="{% static 'journing/icons/book.png'%}"></div>
    <h1> No journal found... Create one now!</h1>
    <input class='create-journal' type='button' value='Create new Journal'>
</div>

{% endif %}

{% endblock content%}


{% block jscontent%}
{% endblock jscontent%}
