.no-journal{
    display:grid;
    grid-template-rows: 5fr 1fr 1fr;
    background-color: rgb(50,50,50);
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    padding: 30px 50px;
    
}

.book-icon-div{
    margin: auto;
}

.create-journal-js,.real-create-journal-js{
    margin: auto;
    margin-top: 50px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;
    background-color: rgb(180, 242, 182);
}

.create-journal-js{
    width: 40%;
    height: 50%;
}

.create-journal-js:hover,.real-create-journal-js:hover{
    cursor: pointer;
}

.new-journal{
    background-color:rgb(50,50,50);
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top:100px;
    border: none;
    border-radius: 15px;
    padding: 30px 30px;
    display: none;
    align-items: center;
    justify-content: center;
 
}

.submit-div{
    text-align: center;
}

.city,.start-date,.end-date{
    font-size: 20px;
    margin: 10px 3px;
    padding: 5px 3px;
}
