.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10fr;
    position: absolute;
    bottom: 0px;
    top:150px;
    
}

.list{
    margin-left:10px;
    margin-right:10px;
    background-color:rgb(65, 64, 64);
    overflow-y: auto; 
    padding: 5px 10px;
    width: 150px;
    border-radius: 5px;
}

.list img{
    width: 100%;
    padding-bottom: 10px;
    border-radius: 5px;
}

.planner{
    
    right: 0px;
    margin-right: 20px;
    padding: 50px 30px;
    background-color: rgb(50,50,50);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto; 
}
.time{
    margin-left:80px;
}

.name{
    margin-left: 80px;
}
.hour-div{
    display: grid;
    border-radius: 20px;
    grid-template-columns: 250px 3fr 2fr 3fr;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color:rgb(22,22,22);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right:5px;
    padding: 10px;
    font-weight: 700;
}

.element{
    margin: 20px;
    margin-left:70px;
}

.drop-area{
    height: 130px;
    padding: 10px;
    background-color:gray;
    text-align: center;
    border-radius: 20px;
}






