.new-journal{
    background-color:rgb(50,50,50);
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top:100px;
    border: none;
    border-radius: 15px;
    padding: 30px 30px;
    display: block;
    align-items: center;
    justify-content: center;
 
}

.city,.start-date,.end-date{
    font-size: 20px;
    margin: 10px 3px;
    padding: 5px 3px;
}

.create_journal{
    position: absolute;
    right: 500px;
    top:150px;
}

.submit-div{
    text-align: center;
}