{% extends 'journing/base.html'%}
{% load static%}

{% block headcontent%}
<link rel='stylesheet' href="{% static 'userdata/styles/peek.css'%}">
{% endblock headcontent%}

{% block content%}

<main class='main-box'>
{% comment %} upper part {% endcomment %}

        <div class='profile'> 

    {% comment %} profile left  {% endcomment %}

            <div class= 'profile-left'>
                <div class="profile-img-div">
                    <img src="{{target_user.profile.profile_pic.url}}">
                </div>

                <div class="profile-details">
                    <h3> {{target_user}} </h3>

                    {% if target_user.profile_gender%}
                    <h3> Male </h3>
                    {% else%}
                    <h3> Female </h3>
                    {% endif %}

                    {% if target_user.profile.city%}
                    <h3> {{target_user.profile.city}} </h3>
                    {% endif %}

                    {% if target_user.profile.website%}
                    <h3> {{target_user.profile.website}} </h3>
                    {% endif %}

                    {% if not target_user.profile.desc == 'Write some details about yourself'%}
                    <h3> {{target_user.profile.desc}} </h3>
                    {% endif %}

                </div>

            </div> 
    {% comment %} profile right {% endcomment %}

            <div class="connect-grid">
                <div class='connection'>

                    <div>
                    <h2> Follower </h2>
                    <h3>{{target_user.profile.followers}}</h3>
                    </div>
                    
                    <div>
                    <h2> Following </h2>
                    <h3>{{target_user.profile.following}}</h3>
                    </div>

                    <div>
                    <h2> Journal </h2>
                    <h3>{{target_user.profile.shared}}</h3>
                    </div>
                </div>

                <input id='connect' type='submit' value="Follow" >
                
                </div>
            </div>


        <div class="comments">
            {% for c in target_user.comment_set.all%}

            <div class='comment'>
                <div class='comment-left'> <img src="{% static '/sightimgs/'%}{{c.sight.img_local}}"> </div>

                <div class='comment-right'> 
                    <h1>{{ c.sight }}</h1>
                    <h4>{{c.comment}}</h4>
                </div>
                
            </div>

            {% endfor %}
        </div>

</main>

{% endblock content%}